.titulo-principal{
    padding-left: 30px;
    font-size: 15px;
}
#banner{
    width: 100%;
    
}
.principal{
    background: #f6f461;
    padding: 15px;
}
.titulo-centralizado{
    text-align: center;
    background: #FFFFFF;
}
    
p{
    text-align: center;
    background: #f6f461;
}

em strong{
    color: red;
}
#mision{
    font-size: 25px;
}
.diferenciales{
    background: #FFFFFF;
    padding: 30px;
    font-size: 35px;
    background-image: url(fondos/fondo1.jpeg);

}

.items{
    font-style: italic;
}
ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}
.imagenDiferenciales{
    width: 58%;
}
footer{
    text-align: center;
    background: url(fondos/fond6.png);
}
.piepagiona{
    text-align: center;
    
}
h1{
    text-align: center;
}
.catalogo{
    width: 40%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: rgb(0, 157, 255);
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
    text-align: center;
}
.catalogo:hover{
    background:rgb(223, 179, 3);
    transform: scale(1.2) ;
    
}
.dcatalogo{
    text-align: center;
    padding: 0.9em;
}